{
  "plugins": [
    ["babel-plugin-styled-components"],
    ["module:react-native-dotenv", {
      "moduleName": "@env"
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src"
      }
    }],
    ["react-native-reanimated/plugin"]  // must be last
  ]
}
